body {
    background-color: #cbcbcb;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: darkgreen;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #111111;
}

h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
}

#container {
    z-index: 9999;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
}

#text {
    color: black;
    padding-bottom: 20px;
}

p.about {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: justify;
}

#reload {
    color: darkgreen;
    text-align: center;
    position: static;
    bottom: 0;
    left: 0;
    font-style: italic;

    height: 50px; /* Height of the footer */
    width: 100%;
}

#image {
    padding-bottom: 20px;

}

.loading {
    position: fixed;
    top: 25%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -11;

    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0% 10%;
    -webkit-filter: grayscale(70%) blur(5px);
    filter: grayscale(70%) blur(5px);
}

#text-box {
    background-color: darkgrey;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

#footer {
    font-size: 10px;
}

p {
    margin-top: 0px;
    
}

.italics {
    font-style: italic;
}

.quote {
    margin-top: 35px;
    text-align: center;
    font-style: normal;
}

.quote-sign {
    text-align: right;
    margin-left: 45%;
    font-style: italic;
}
